body {background-color: #000000;}

.container {
    text-align: center;
    padding: 20px;}

.titulo {
    color: #b0b0b0;}

.calculadora {
  margin: auto;
  width: 315px;
  border-radius: 12px;
  background-color: rgb(113, 14, 14);}

.tela {
  width: 300px;
  border-radius: 10px;
  height: 60px;
  padding-right: 15px;
  padding-top: 10px;
  background-color: #202020;
  text-align: right;
  font-size: 3rem;
  color: white;}

.contas div {
  color: #000000;
  display: inline-block; /* faz as divs ficar lado a lado */
  border-radius: 30px;
  width: 20px;
  padding: 20px;
  margin: 20px 4px 10px 0;
  background-color: #ffffff;}

.painel-numeros {
  display: inline-block;
}

.numeros div {
  color: white;
  display: inline-block;
  border-radius: 30px;
  width: 20px;
  padding: 20px;
  margin: 0px 4px 10px 0;
  background-color: #202020;}

.igual {
  display: inline-block;
  border: 0;
  border-radius: 50px;
  width: 40px;
  text-align: center;
  padding: 122px 10px;
  margin: 0px 6px 10px 0;
  vertical-align: top;
  color: #FFF;
  background-color: #062100;}